<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link
            href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
            integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="bg-slate-700">
        <div class="absolute -left-30 top-8">
            <img
                src="./images/Frame_25__1_-removebg-preview.png"
                class="h-32"
            />
        </div>
        <div class="absolute right-0">
            <img src="./images/Vector 3-Photoroom.png" alt="" />
        </div>
        <div class="container mx-auto">
            <div class="h-screen flex flex-col items-center justify-center gap-8 pt-32">
                <p class="w-2/3 text-center text-white">
                    توجه: برای استفاده از خدمات بنزین اضطراری لطفا دکمه زیر را
                    فشار دهید
                </p>
                <div class="w-7/12">
                    <img src="./images/Frame 36.png" alt=""  class="w-full"/>
                </div>
                <button class="p-4 bg-red-500 text-white text-2xl rounded-full w-1/2">
                    فشار دهید
                    <i class="fa-solid fa-phone"></i>
                </button>
            </div>
        </div>
    </body>
</html>
